<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/font-awesome.min.css")

    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")

    <style>
        .item-margin {
            margin-left: 1.5em;
        }
    </style>

    <script>
        function recipeButtonCallback() {
            window.location.href = "@Url.Content("~/Recipe")";
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a href="@Url.Content("~/")">
            <img src="@Url.Content("~/Sources/logo.svg")" class="d-inline-block align-top" width='40' height='40' alt='' style="margin-right : 10px">
        </a>

        @Html.ActionLink("SimulMot", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <button class="btn btn-secondary dropdown-toggle item-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Monitoring
                    </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"> All </a>
                        <a class="dropdown-item" href="#"> Controls </a>
                        <a class="dropdown-item" href="#"> Materials </a>
                        <a class="dropdown-item" href="#"> Vessels </a>
                    </div>
                </li>

                <li class="nav-item">
                    <button id="recipeButton" class="btn btn-secondary item-margin" onclick="recipeButtonCallback()">
                        Recipe
                    </button>
                </li>
            </ul>

            <ul class="nav justify-content-end">
                <li class="nav-item item-margin">
                    <button id="loginButton" class="btn btn-primary"> Sign in </button>
                </li>

                <li class="nav-item item-margin">
                    <button id="signUpButton" class="btn btn-success"> Sign up </button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer style="text-align : right">
            <p>Simulator Monitoring System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
